a.link{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
  }
  .logo {
    padding-top:15%;
    padding-right:15%;
  }
  .image{
    padding: 10px;
  }
  .textbox{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    background-color: lightgray;
  }
  .bodytext{
    padding-left: 100px;
    padding-right: 100px;
  }

  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 1200px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #354a77;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #404040;
    color: white;
    padding: 15px;
  }

  #scroller {
    width: 98%;
    height: 95%;
    overflow:hidden;
    overflow-y:scroll;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }